


html{
	height: 100%;
	width:100%;
}
body{
	height: 100%;
	width:100%;
	margin:0px;
	padding:0px;
	background-color: hsl(218, 28%, 13%);
	font-size:14px;
}
.logo{
	width:6rem;
	height:2rem;
	background-image: url(images/logo.svg);
	background-size:100%;
	background-repeat: no-repeat;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-left: 5px;
	margin-top:10px;
}
#sc{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin:auto;
}
nav{
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	justify-content: space-between;
	margin-right: 5px;
	margin-top:10px;
}
header{
	height: 422px;
	background-color: hsl(217, 28%, 15%);
	background-image: url(images/bg-curvy-mobile.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}
#hed{
	display:grid;
	grid-template-columns: 0.5fr 1fr 2fr; 
}
.bi{
	width:350px;
	height:300px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	margin-left:auto;
	margin-right: auto;
	
}
#i1{

	background-image: url(images/illustration-intro.png);
	
}
#s0 div{
	width:350px;
	display:flex;
	flex-direction: column;
	margin-left:auto;
	margin-right: auto;
	margin-top:-89px;
	align-content: center;
	justify-content: center;
}
#sa{
	position: relative;
	top:110px;
}
#sb{
	position:relative;
	top:50px;
}
.cont{
	width:350px;
	height: 300px;
	display:flex;
	flex-direction: column;
	margin-left:auto;
	margin-right: auto;
	align-content: center;
	justify-content: center;
}
.cont2{
	width:350px;
	height: 700px;
	display:flex;
	flex-direction: column;
	margin-left:auto;
	margin-right: auto;
	align-content: center;
	justify-content: center;
}
.link2{
	color:hsl(176, 68%, 64%);
	text-decoration:underline;
}
.ia{
	width: 70px;
    height: 77px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	margin-left:auto;
	margin-right: auto;
}
.ib{
	width: 82px;
    height: 60px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	margin-left:auto;
	margin-right: auto;
}
#i2{
	background-image: url(images/icon-access-anywhere.svg);
}
#i3{
	background-image: url(images/icon-security.svg);
}
#i4{
	background-image: url(images/icon-collaboration.svg);
}
#i5{
	background-image: url(images/icon-any-file.svg);
}
#i6{
	background-image: url(images/illustration-stay-productive.png);
}
#i7{
	background-image: url(images/icon-arrow.svg);
	width:20px;
	height:20px;
	background-size:100%;
	background-repeat: no-repeat;
	position:relative;
	left: 129px;
    top: -18px;
}
a{
	text-decoration: none;
	color:hsl(0, 0%, 100%);
	font-family: "Open Sans", sans-serif;
	font-weight:400;
	
}
h1{
	color:hsl(0, 0%, 100%);
	font-family: Raleway, sans-serif;
	text-align: center;
	font-weight: 700;
	font-size:25px;
}
h2{
	color:hsl(0, 0%, 100%);
	font-family: Raleway, sans-serif;
	text-align: center;
	font-weight: 700;
}
p{
	color:hsl(0, 0%, 100%);
	font-family: "Open Sans", sans-serif;
	text-align: center;
}
.p2{
	text-align: left;
}
#qi{
	background-image: url(images/bg-quotes.png);
	width:25px;
	height:25px;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0px 0px -8px 35px;
    z-index: 3;
}
#sc{
	display:flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
    top: 88px;
}

.quote{
	width:350px;
	height:150px;
	background-color:hsl(219, 30%, 18%);
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 25px;

}
.wrap{
	width:300px;
	height:125px;
	margin-left:auto;
	margin-right:auto;
}
.q{
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	margin-bottom:10px;
}
.avatar{
	width:30px;
	height:30px;
	border-radius:50%;
	background-size: 100%;
	float:left;
	margin-top: 15px;

}
.qn{
	font-weight:bold;
	position:relative;
	top:11px;
	left:10px;
	font-size:12px;
	text-align:left;
}
.qt{
	text-align:left;
	position:relative;
	left:10px;
	font-size:11px;
}
#a1{
	background-image: url(images/profile-1.jpg);
}
#a2{
	background-image: url(images/profile-2.jpg);
}
#a3{
	background-image: url(images/profile-3.jpg);
}
.btn{
	background-image: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 12px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    cursor: pointer;
    border-radius: 26px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    font-family: "Open Sans";
    font-size: medium;
    font-weight: 700;
    z-index: 7;
}
.btn:hover{
	transform: scale(1.01);
	transition-duration: 0.05s;
}
.btn:active{
	background-image:linear-gradient(to left, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
	color:white;
	border-color: black;
}
input{
	color:black;
	border: none;
    padding: 12px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 13px auto;
    cursor: pointer;
    border-radius: 26px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    font-family: "Open Sans";
    font-size: medium;
    font-weight: 700;
}
#sd{
	margin-left:auto;
	margin-right: auto;
	background-color:hsl(217, 28%, 15%);
	width:350px;
	height:354px;
	display:flex;
	flex-direction: column;
	border-radius: 10px;
	position: relative;
    top: 164px;
    box-shadow: 0px 0px 58px -18px rgba(0,0,0,0.75);
}
.w1{
	width:356px;
	height:50px;
	margin-left: auto;
	margin-right: auto;
	margin-top:40px;
}
.w2{
	width: 304px;
    height: 100px;
    margin-left: auto;
    margin-right: auto; 
}
footer{
	width:100%;
	height:764px;
	background-color: hsl(216, 53%, 9%);
}
#l2{
	position: relative;
    top: 190px;
    width: 150px;
    height: 247px;
    left: 25px;
}
#f1{
	margin-top: 39px;
    margin-left: 28px;
}
#f1 p{
	text-align: left;
	margin-left: 27px;
    margin-top: -4px;
}
.fi{
	width:15px;
	height:25px;
	background-size: 100%;
	background-repeat:no-repeat;
	float:left;
}
#loc{
	background-image:url(images/icon-location.svg);
}
#tel{
	background-image:url(images/icon-phone.svg);
}
#ema{
	background-image:url(images/icon-email.svg);
}
#f2{
    margin-top: 46px;
    margin-left: 24px;
}
.fw a{
	margin-top:10px;
}
.fw{
	display:flex;
	flex-direction: column;
}
#fw2{
	margin-top:20px;
}
#f3{
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	justify-content: center;

}
#fl{
	margin-left: 10px;
	width: 30px;
	height:30px;
	background-image: url(images/logo-facebook.svg);
}
#tl{
	margin-left: 10px;
	width: 30px;
	height:30px;
	background-image: url(images/logo-twitter.svg);
}
#il{
	margin-left: 10px;
	width: 30px;
	height:30px;
	background-image: url(images/logo-instagram.svg);
}

@media (min-width: 1024px) {

#hed {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr;
}

.logo{
	margin-left: 51px;
    margin-top: 40px;
}

nav{
	margin-right: 90px;
    margin-top: 40px;
}
.bi{
    width: 569px;
    height: 419px;
}
header{
	height: 600px;
    background-image: url(images/bg-curvy-desktop.svg);
}
#s0 div{
	width: 440px;
}

#sa{
	position: relative;
	top:-82px;
	display:grid;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}
#c1{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}
#c2{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
}
#c3{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
}
#c4{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
}
#sb{
	top: -226px;
}
#i6{
	width: 456px;
    height: 412px;
}
.cont2{
	width: 939px;
    height: 213px;
	flex-direction: row;

}
#pipi{
	width: 474px;
    height: 227px;
    margin-top: 88px;
    position: relative;
    left: 29px;
    
}
#pup{
	text-align: left;
}
#sc{
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    top: 88px;
    left: -29px;
    height: 175px;
    width: 1052px;
    margin-left: auto;
    margin-right: auto;
}
.quote{
	width: 318px;
    height: 148px;
    background-color: hsl(219, 30%, 18%);
    margin-left: 0px;
    margin-right: 0px;
}
#qi{
	background-image: url(images/bg-quotes.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    z-index: -1;
    position: relative;
    left: 25px;
    top: -14px;
}
#sd{
	margin-left: auto;
    margin-right: auto;
    background-color: hsl(217, 28%, 15%);
    width: 796px;
    height: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    top: 164px;
    box-shadow: 0px 0px 58px -18px rgba(0,0,0,0.75);
}
.w1{
	width: 315px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}
.w2{
	width: 628px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
input{
	color: black;
    border: none;
    padding: 12px 116px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 13px auto;
    cursor: pointer;
    border-radius: 26px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    font-family: "Open Sans";
    font-size: medium;
    font-weight: 700;
    position: relative;
    left: -135px;
    top: 7px;
}
#call{
	position: relative;
    top: -52px;
    left: 231px;
    padding: 12px 37px;
}

footer{
	display:flex;
	height: 443px;
}
#f1{
	margin-top: 310px;
    margin-left: -128px;
}
#lorem{
    width: 316px;
    height: 62px;
}
#phone{
    position: relative;
    left: 395px;
    top: -53px;
}
#mail{
	position: relative;
    left: 395px;
    top: -53px;
}
#f2{
	position: relative;
	top: 298px;
    left: 282px;
	display: flex;
	margin:0px;
}
#fw2{
	margin-top:0px;
	margin-left:18px;
}
body{
	height:1000px;
}
html{
	height:1000px;
}
}

